.menu {
	margin-top: 29px;
	color: #000;
	border: 1px solid var(--border);
	border-radius: 10px;
	width: 100%;
	box-shadow: 0 4px 50px rgba(0,0,0,.05);
	padding: 10px 0;
	background-color: #fff;
	position: relative;
}

.menu::before {
	position: absolute;
	content: "";
	width: 10px;
	height: 10px;
	background: #fff;
	top: -6px;
	left: 50%;
	transform: rotate(45deg);
	z-index: 999999;
	border: 1px solid #E4E4E4;
	border-bottom: 0;
	border-right: 0;
}

.menu li{
	padding: 0px 30px;
	display: flex;
	align-items: center;
	font-size: 1.4rem;
}

.menu li a {
	padding: 10px 0;
	width: 100%;
	display: block;
	border-bottom: 1px solid var(--border);
	font-weight: 300;
}

.menu a span {
	margin-left: 10px;
}

.menu li:last-child a {
	border: none;
}

.no-result li{
	justify-content: center;
}