.search {
	--search-border-radius: 92px;
	--search-height: 46px;
	--search-top-spacer: 9px;
	--search-button-width: 52px;

	width: 810px;
	height: 46px;
	display: flex;
}

.search .search-wrapper {
	background-color: rgba(22, 24, 35, 0.06);
	border-radius: 92px;
	padding-left: 16px;
	display: flex;
	align-items: center;
	position: relative;
	border: 1.5px solid transparent;
	flex: 1;
}

.search-wrapper::after {
	content: "";
	height: 80%;
	position: absolute;
	width: 1px;
	background-color: #ccc;
	right: var(--search-button-width);

}

.search-wrapper:focus-within {
	border: 1.5px solid rgba(22, 24, 35, 0.06);
}

.search-bar {
	flex: 1;
	height: 100%;
	font-size: 1.6rem;
	outline: none;
	color: var(--black);
	border: none;
	background-color: transparent;
}

.search-bar:not(:placeholder-shown) ~ .search-btn {
	color: #000;
}

.search-bar:not(:placeholder-shown) ~ .search-result {
	visibility: visible;
	opacity: 1;
	transform: translateY(0px);
	transition: transform 0.2s;
}


.clear,
.loading {
	position: absolute;
	right: calc(var(--search-button-width) + 16px);
	top: 50%;
	transform: translateY(-50%);
}

.search-btn {
	width: var(--search-button-width);
	height: 100%;
	border: none;
	border-radius: 0 92px 92px 0; 
	font-size: 1.8rem;
	opacity: 0.6;
	color: rgb(85, 80, 80);
}

.search-btn:hover {
	background-color: rgb(212, 221, 230);
	cursor: pointer;
}

.category-options {
	width: 100%;
	max-width: 260px;
	background-color: var(--primary);
	height: 100%;
	border-radius: 50px;
	margin-right: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 600;
	text-transform: capitalize;
	color: #fff;
	position: relative;
}

.category-options:hover {
	cursor: pointer;
}

.options {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 30px;
}

.options p{
	margin-left: 18px;
	font-size: 1.4rem;
	font-weight: 600;
}

.category-options:hover .verticle-menu {
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
}

.caret {
	position: absolute;
	right: 30px;
}

.up {
	transform: translateY(30px);
	visibility: hidden;
	transition: transform 0.2;
	opacity: 0;
}

.down {
	transform: translateY(0px);
	transition: transform 0.2s;
	visibility: visible;
	opacity: 1;
}

.category-options:hover .up {
	transform: unset;
	visibility: visible;
	opacity: 1;
	transition: transform 0.2s;
}
.category-options:hover .down  {
	transform: translateY(-30px);
	transition: transform 0.2s;
	visibility: visible;
	opacity: 0;
}

.verticle-menu {
	position: absolute;
	width: 100%;
	top: 100%;
	visibility: hidden;
	opacity: 0;
	transform: translateY(10px);
	transition: all 0.2s ease;
	left: 0;
}

