* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary: #F65D4E;
	--primary_hover: #f4402f;
	--text: #444444;
	--accent: #000000;
	--lighter: #999999;
	--border: #E6E6E6;


	--font-family: "Sora", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	--default-layout-header-height: 60px;
	--default-layout-width: 1150px;
	--default-layout-horizontal-spacer: 24px;
}

html {
	font-size: 62.5%;
}

body {
	font-family: var(--font-family);
	font-size: 1.6rem;
	line-height: 1.5;
	text-rendering: optimizespeed;
	color: var(--text-color);
	overflow-y: overlay;
}

.global-inner {
	max-width: 1290px;
	margin: auto;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a {
	text-decoration: none;
	color: unset;
}

li {
	list-style: none;
}
